
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.section-content {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}






/*SECTION 1*/

.header {

    background-color: #1f2937;
    color: white;


}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

#logo {
    font-size: 24px;
    font-weight: 500;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.left-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    gap: 8px;
}

.left-banner div {
    font-size: 48px;
    font-weight: 600;
}

.left-banner p {
    font-size: 18px;
    opacity: 80%;
}

.left-banner button {
    width: 120px;
    padding: 8px 16px;
    background-color: #1f2937;
    border-radius: 8px;
    color: white;
    border: 1px solid white;

}

.right-banner {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 150px;
    width: 300px;
}


/* SECTION 2 */




.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 300px;
    margin-bottom: 24px;
}

.section-content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;

}

.infotitle {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-weight: 500;  
}


.squares {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: small;
    width: 144px;

}


.box {
    background-color: transparent;
    border: 2px solid #1f2937;
    border-radius: 16px;
    padding: 60px;
    width: 100%;
    box-sizing: border-box;
}

.text { 
    width: 100%;
}

/* SECTION QUOTE */

.quote {
    height: 400px;
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-content2 {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.writing {
    font-size: 36px;
    font-weight: 200;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 500;
}

.signup {
    height: 300px;
    width: 100%;
    background-color: white;
    border: transparent;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    height: 150px;
    width: 80%;
    background-color: #1f2937;
    border-radius: 25px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.call-header {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.call-text {
    color: white;
    font-size: 16px;
}

.signup-button {
    width: 120px;
    padding: 8px 16px;
    background-color: #1f2937;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    border: 1px solid white;;

}


.footer {
    background-color: #1f2937;
    height: 69px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}